.location{
    display: flex;
    flex-direction: column;

    .icon{
        height: 100%;
        width: 28px;
    }

    .phone-icon{
        font-size: 28px;
        color: #394f74;
    }

    .header{
        font-size: 56px;
        background: -webkit-linear-gradient(#394f74, #627fb2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .location-name{
        display: flex;
        align-items: center;
    }

    .location-number{
        display: flex;
        align-items: center;
    }

    .location-address{
        display: flex;
        align-items: center;
    }

    .location-container{
        display: flex;
    }
}