.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5em 0;
    gap: 5em;
    $primary: #030302; /*(RGB: 3, 3, 2) */
    $secondary: #f5f1ea; /*(RGB: 245, 241, 234) */
    $primbuttn: #627fb2; /*(RGB: 98, 127, 178) */
    $secbuttn: #fcfaf8; /*(RGB: 252, 250, 248) */
    $accent: #394f74; /*(RGB: 57, 79, 116) */

    .about-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        min-width: 450px;

        h1{
            font-size: 48px;
            background: -webkit-linear-gradient(#394f74, #627fb2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        ul {
            margin-left: 20px;
        }
        li {
            list-style: disc;
            font-size: 22px;
            margin: 8px 0;
        }
    }

    .about-right{
        display: flex;

        .img-container{
            display: grid;
            justify-items: center;
            grid-template-rows: 1fr;
            max-width: 700px;


            img{
            height: 300px;
            width: 300px;
            object-fit: cover;
            box-shadow: 5px 5px 5px #ccc;
            -moz-box-shadow: 5px 5px 5px #ccc;
            -webkit-box-shadow: 5px 5px 5px #ccc;
            -khtml-box-shadow: 5px 5px 5px #ccc;
            }

            .img-item:first-of-type{
                grid-column: 2 / span 2;
                grid-row: 1 / span 2;
                transition: transform .2s;
            }

            .img-item:last-of-type{
                grid-column: 1 / span 2;
                grid-row: 2 / span 2;
                transition: transform .2s;
            }

            .img-item:first-of-type:hover{
                z-index:5 !important;
                transform: scale(1.1)
            }

            .img-item:last-of-type:hover{
                transform: scale(1.1)
            }

        }


    }
}
